{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create an account{% endblock %}
{% block content %}

<br>
<br>

    <div class="row justify-content-center">
      <div class="col-6 mb-4">
        <div class="card bg-light"> 
          <div class="card-body">
            <h1>Create an account</h1>
            <p>Please, sign up using the following form:</p>
            <form method="post">
                {{ user_form|crispy }}
                {% csrf_token %}
                <p><input type="submit" class="btn btn-success"value="Create my account"></p>
            </form>

</div>
        </div>
      </div>

  
    </div>
{% endblock %}
